.header {
  color: black;
  text-align: center;
  margin: 20px auto;
}

.authSignInWrapper {
  background-color: #675f6b;
  padding: 5px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 250px;
}

.authSignUpWrapper {
  background-color: #675f6b;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 350px;
  z-index: 100;
}

a.navigationLink {
  display: flex;
  justify-content: center;
  color: #ff9001;
  padding: 10px;
  transition: 0.5s;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: #ff9001;
    text-decoration: none;
    scale: 1.1;
    transition: 0.5s;
  }
}

.inputAuthForm {
  width: 100%;
}

Button.submitButton {
  color: #a64c01;
  background-color: #000000;
  border: 1px solid #f5deb3;
  width: max-content;
  align-self: center;
  width: 100%;

  &:hover {
    color: #f5deb3;
    background-color: #000000;
  }
}
