.historySection {
  width: 30%;
  background-color: #000000;
  border: 1px solid #ffa500;
  border-radius: 5px;

  .container {
    width: 100%;
    background: #000000;
    height: auto;
    text-align: center;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    overflow-y: auto;
    padding: 20px;

    .emptyHistory {
      color: #ffa500;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      .buttonsContainer {
        display: flex;
        justify-content: space-around;
        margin: 10px;

        button {
          color: #a64c01;
          background-color: #000000;
          border: 1px solid #f5deb3;
          width: max-content;

          &:hover {
            color: #f5deb3;
          }
        }
      }
    }

    .historyElement {
      color: #ffa500;
    }
  }
}
